<div class="stock-list__grid-row">
    <div class="stock-list__grid-cell">
        <a (click)="unfollow.emit(symbol)"><span class="stock-list__btn stock-list__btn--remove">&ndash;</span></a>
    </div>
    <div class="stock-list__grid-cell">{{symbol}}</div>
    <div class="stock-list__grid-cell stock-list__grid-cell--txt-blue wide"><app-simple-ticker [symbol]="symbol"></app-simple-ticker></div>
    <div class="stock-list__grid-cell">
        <a (click)="buyPopup.show(symbol)"><span class="btn-transaction btn-transaction--buy">buy</span></a>
    </div>
    <div class="stock-list__grid-cell" *ngIf="amount > 0">
        <a (click)="sellPopup.show(symbol)"><span class="btn-transaction btn-transaction--sell">sell</span></a>
    </div>
    <div class="stock-list__grid-cell" *ngIf="amount > 0">{{amount}}</div>
</div>

<app-buy-sell-popup #buyPopup operation="buy" (performed)="buy(buyPopup.symbol, buyPopup.amount)"></app-buy-sell-popup>
<app-buy-sell-popup #sellPopup operation="sell" (performed)="sell(sellPopup.symbol, sellPopup.amount)"></app-buy-sell-popup>
