<section class="stock-list">
    <h2 class="stock-list__title">Stocks that I follow <a *ngIf="followPopup.hasMore$ | async" (click)="followPopup.show()"><span class="stock-list__btn stock-list__btn--add">+</span></a></h2>
    <app-follow-stock-popup #followPopup (added)="follow($event)" [watchlist]="watchList"></app-follow-stock-popup>
    <div class="stock-list__grid">
        <app-stock-details *ngFor="let watched of watchList" [symbol]="watched.symbol" (unfollow)="unfollow($event)" class="stock-list__grid-row"></app-stock-details>
    </div>
</section>
